# Default ignored files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/*
/shelf/
/workspace.xml
.gradle
build/
.idea/**/gradle.xml
.idea/**/libraries
